@charset 'utf-8';
/**
 * ======================================================
 *                          Variable
 * ======================================================
 */
$font-size: 16px;
$background-color: #f5f5f0;
$font-family: sans-serif;
$header-height: 56px;
$content-margin: 0px 8%;
$background-color-element: white;


/**
 * ======================================================
 *                          Elements de base
 * ======================================================
 */

body{
	font-family: $font-family;
	font-size: $font-size;
	background-color: $background-color;
}

p, ul{
	line-height: 1.5;
}

/**
 * ======================================================
 *                          Header
 * ======================================================
 */
header{
	height: $header-height;
	/*border-bottom: 1px solid black;*/
	display: flex;
	justify-content: center;
	background-color: white;
}

header .title{
	display: flex;
	align-items: center;
}

/**
 * ======================================================
 *							Content
 * ======================================================
 */

div.content{
	margin: $content-margin;

	&>div{
		background-color: $background-color-element;
		border-radius:15px;
		margin-top:15px;

		&>h3{
			padding: 15px;
			border-bottom: 1px solid #A9A9A9;
		}

		&>*{
			padding: 15px;
		}
	}
}

p.wordSearched{
	font-size:1.6em;

	& span{
		font-weight: bold;
	}
}

div.relations>div{
	display: flex;
	justify-content: center;

	& div{
		padding: 0px 8px 8px 8px;
		border: 1px solid black;
		width: 100%;

		& h4{
			margin: 8px 0px;
		}

		& ul{
			list-style-type: none;
			margin: 0;
			padding: 0;

			& li a{
				text-decoration: none;
				color:black;

				&:hover{
					text-decoration: underline;
					font-weight: bold;
				}
			}
		}
	}
}		